= form_for [@post, comment] do |f|
  .panel.panel-default
    .panel-heading
      %p= f.label :name, 'Author'
      %p= f.text_field :name
    .panel-body
      %p= f.label :body, 'Comment Description'
      %p= f.text_area :body
      %p= f.submit 'Save Comment'
