%p
  %b= @post.title
%p
  %b= @post.body

%h2 Comments
- @post.comments.each do |comment|
  %p
    %b= "#{comment.name} said: "
    %br= "#{time_ago_in_words comment.created_at} ago"

  %p= comment.body

= form_for [@post, Comment.new] do |f|
  %p= f.label :name, 'Author'
  %p= f.text_field :name
  %p= f.label :body, 'Comment Description'
  %p= f.text_area :body
  %p= f.submit 'Add Comment'
