!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Adventures in Life and Running
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %table
        %tr
          %td= link_to 'Home', posts_path
          - if admin_signed_in?
            %td= link_to 'New post', new_post_path
            %td= link_to 'Sign out', destroy_admin_session_path, :method => :delete

    - if flash[:notice]
      %p(id='notice')= notice

    = yield
